body {
  background: #e3efe3;
}

.p2 {
  width: 350px;
  height: 150px;
  background: green;
  margin-left: 400px;
}

.in_the_beggining {
  /*width: auto;*/
  /*height: 600px;*/
  background: #e3efe3;
  padding: 60px;
  /*margin: 100px;*/
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  border: 10px solid lavenderblush;
}

.in_the_beggining > p:nth-child(1) {
  background: #17e290;
}
.in_the_beggining > p:nth-child(5) {
  background: #17e290;
}

.in_the_beggining > p {
  margin: 20px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
}

.picture {
  margin-left: 400px;
}


